/*Reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin:0;
	padding:0;
	color:inherit;
	background-color:inherit;
	border:0;
	font:inherit;
	text-decoration:none;
	line-height:1.25;
	vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section
{
	display:block;
}

ol, ul
{
	list-style:none;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

/*Body*/

html
{
	font:normal 1em sans-serif;
}

body
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;

	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;

	min-height:100vh;

	color:#48515a;
	background-color:#fafafa;
}

/*Nav*/

header, footer
{
	color:#f3f3f3;
	background-color:#48515a;
	text-align:center;
}

nav
{
	background-color:#e79c31;
}

nav ul li
{
	display:inline-block;
}

nav ul li a
{
	display:block;
	padding:0.1rem 1rem 0.2rem 1rem;
	color:#5a5d57;
}

nav ul li a#current
{
	color:#f3f3f3;
}

footer
{
	padding:0.5rem 0 0.6rem 0;
}

footer a
{
	color:#e58f15;
}

/*Main*/

main
{
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;

	max-width:36rem;
	margin:2rem auto 6rem auto;
	padding:1rem;
}

@media (min-width: 40rem)
{
	main
	{
		width:36rem;
	}
}

main div
{
	margin-top:3rem;
	margin-bottom:4rem;
}

main p
{
	text-align: justify;
	margin:1rem 0;
}

main a
{
	color:#e58f15;
}

/*Text*/

h1
{
	margin:0.5rem 0;
	font-weight:bold;
	font-size:2.2em;
}

h2
{
	margin-bottom:1rem;
	font-weight:bold;
	font-size:2em;
}

h3
{
	margin-bottom:1rem;
	font-weight:normal;
	font-size:1.5em;
}

em, strong
{
	color:#e58f15;
}

b, strong
{
	font-weight:bold;
}

small
{
	color:#a1a7aa;
	font-size:0.9375em;
}

/*Code*/

code, samp
{
	position:relative;
	font-family:monospace;
	border-radius:2px;
}

p code
{
	padding:0 0.25rem;
	border: #d0d4d8 solid 1px;
	background-color:#fbfbfb;
}

pre code, pre samp
{
	display:block;
	padding:0.5rem 0.75rem;
	color:#f3f3f3;
}

pre code
{
	background-color:#48515a;
}

pre samp
{
	background-color:#687078;
}

.code
{
	width:100%;
	margin:1rem auto;
	vertical-align:text-top;
}

.in, .out
{
	width:50%;
}

.to
{
	padding:0 0.6rem;
	color:#e3e5e6;
	text-align:center;
	font-size:1.5em;
}

/*Grammar*/

.grammar
{
	font-family:monospace;
}

.grammar td
{
	vertical-align:text-top;
	padding:0.125rem;
}

.rule
{
	text-align:right;
}

.equal
{
	padding:0 0.5rem;
	text-align:center;
}

.def
{
	text-align:left;
}

/*SVG*/

svg
{
	display:block;
	margin:0 auto;
}

svg path
{
	fill:#455667;
	stroke:#667179;
}

svg marker, svg text
{
	fill:#48515a;
}
